#projects {
	margin-bottom: 120px;
	padding-top: 0px;
	min-height: 50vh;
	display: grid;
}

#projects h3 {
	color: #f7b538;
	font-family: 'Merienda', cursive;
	font-weight: 300;
	font-size: 24px;
}

.projects-div {
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 1400px;
}

.project-card {
	height: 200px;
	width: 380px;
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
}

.btn {
	height: 30px;
	width: 80px;
	border: 2px solid #fe4a57;
	border-radius: 10px;
	opacity: 1;
	font-size: 16px;
	font-family: 'Merienda', cursive;
}

.card {
	position: relative;
	margin-top: 50px;
	width: 500px;
	height: 300px;
	border-radius: 20px;
	font-family: 'The Historia Demo', sans-serif;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: all 0.5s ease;
}

.card:hover .overlay {
	display: block;
	background: rgba(0, 0, 0, 0.8);
}

.card img {
	position: absolute;
	width: 500px;
	height: 300px;
	left: 0;
}

.title,
.proj-description {
	position: absolute;
	width: 500px;
	top: 220px;
	font-weight: 300;
	text-align: center;
	transition: top 0.5s ease;
	z-index: 1;
	opacity: 0;
}

.title {
	font-size: 32px;
	color: #fe4a57;
}

.proj-description {
	font-family: 'Merienda', cursive;
	font-size: clamp(15px, 2vw, 18px);
	text-align: center;
	padding: 0 30px;
	line-height: 1.5;
	color: #f7b538;
}

.card:hover p {
	opacity: 1;
}

.card:hover .proj-description {
	top: 65px;
	color: #f7b538;
}
.card:hover .title {
	top: 35px;
}

.button-wrap {
	position: absolute;
	width: 500px;
	left: 0;
	bottom: 20px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.35s ease;
}
.card:hover .button-wrap {
	opacity: 1;
}
.btn {
	background-color: #1f2235;
	color: #fe4a57;
}
.btn:hover {
	cursor: pointer;
	background-color: #f7b538;
	color: #1f2235;
	border: 2px solid #1f2235;
}

.button-wrap a {
	width: 100px;
	padding: 5px;
	text-align: center;
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.card {
		position: relative;
		margin-top: 50px;
		width: 420px;
		height: 280px;
		border-radius: 20px;
		font-family: 'The Historia Demo', sans-serif;
		overflow: hidden;
	}
	.card img {
		width: 420px;
		height: 280px;
	}
	.overlay {
		display: block;
		background: rgba(0, 0, 0, 0.65);
	}
	.title {
		width: 420px;
		top: 20px;
		left: 0;
		font-weight: 300;
		font-size: 35px;
		z-index: 1;
		opacity: 1;
		margin: 0 auto;
	}
	.proj-description {
		padding: 0;
		opacity: 1;
		top: 60px;
		width: 100%;
		margin: 0 auto;
	}
	.button-wrap {
		opacity: 1;
		width: 420px;
	}
	.card:hover .title {
		top: 20px;
	}
	.btn {
		background-color: #f7b538;
		color: #1f2235;
	}
}

@media screen and (max-width: 540px) {
	.card {
		margin-top: 50px;
		width: 360px;
		height: 240px;
		border-radius: 20px;
		overflow: hidden;
	}
	.card img {
		width: 360px;
		height: 240px;
	}
	.title {
		width: 360px;
		top: 20px;
		left: 0;
		font-size: 26px;
		z-index: 1;
		opacity: 1;
		margin: 0 auto;
	}
	.button-wrap {
		opacity: 1;
		width: 360px;
	}
}
