#about {
	/* min-height: calc(100vh - 120px); */
	max-width: 1600px;
	margin: 0 auto;
	padding-bottom: 25px;
}
/* /////////////////GREETING///////////////////// */

/* /////////////////INTRO//////////////////////// */

.intro {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	position: relative;
	padding-top: 80px;
}
.intro p {
	font-family: 'Merienda', cursive;
	font-size: 24px;
	color: #f7b538;
	width: 80%;
	margin: 35px auto;
}
.intro hr {
	border: 1px solid #fe4a57;
}

.intro div {
	position: relative;
	text-align: justify;
}

#about > h2 {
	font-family: 'Merienda', cursive;
	color: #f7b538;
	font-size: 32px;
	font-weight: 300;
}
/* ///////////////////////////////////////////// */

@media screen and (max-width: 768px) {
	.intro {
		display: flex;
		flex-direction: column;
	}
	.intro :nth-child(1) {
		order: 3;
	}
	.intro :nth-child(3) {
		order: 3;
	}
}
