#about {
	max-width: 1600px;
	margin: 0 auto;
	padding-bottom: 25px;
}

.about {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	position: relative;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
}

.about hr {
	border: 1px solid #fe4a57;
	margin: 0 auto;
	max-width: 65vw;
}

.about-personal {
	display: flex;
}

.about-personal div {
	text-align: justify;
	width: 65%;
	margin: 20px auto;
}

.about-skills ul {
	margin: 40px auto;
}

.about-skills li {
	color: #f7b538;
	font-size: clamp(16px, 3vw, 24px);
	font-weight: 300;
	font-family: 'Merienda', cursive;
	list-style-type: none;
}

.about-personal div hr {
	margin: 0 auto;
}

/* ///////////////////TABLET////////////////////// */

@media screen and (max-width: 768px) {
	.about {
		display: flex;
		flex-direction: column;
		padding-top: 50px;
	}

	.about-personal div {
		width: 80%;
	}
	.about-personal {
		flex-direction: column;
	}
	.about hr {
		max-width: 80vw;
	}
}

/* ///////////////////PHONES////////////////////// */

@media screen and (max-width: 450px) {
	.about {
		padding-top: 20px;
	}
}
