#about {
	/* min-height: calc(100vh - 120px); */
	background: #242a50;
	max-width: 1600px;
	margin: 0 auto;
}
/* /////////////////GREETING///////////////////// */
#hello {
	font-size: 24px;
	color: #f7b538;
	font-family: 'Merienda', cursive;
	padding-top: 30px;
}
#hello h1 {
	font-family: 'The Historia Demo';
	font-size: 160px;
	background: linear-gradient(to top, #f54784, #ffe838);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
}

/* /////////////////INTRO//////////////////////// */

.intro {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	position: relative;
	padding-top: 80px;
}
.intro p {
	font-family: 'Merienda', cursive;
	font-size: 24px;
	color: #f7b538;
	width: 70%;
	margin: 0 auto;
	/* padding-left: 95px; */
}
.intro div {
	position: relative;
}
.profile-pic {
	overflow: hidden;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	/* /* position: absolute; */
	left: calc(50% - 100px);
	top: calc(50% - 100px);
}

.profile-pic img {
	object-fit: cover;
	transform: scale(0.52) translateX(-260px) translateY(-280px);
}
.intro h2 {
	position: absolute;
	top: 25%;
	left: 70%;
}
#about > h2 {
	font-family: 'Merienda', cursive;
	color: #f7b538;
	font-size: 32px;
	font-weight: 300;
}
/* ///////////////////////////////////////////// */
