.contact {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 95%;
}

.form-and-social {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	margin: 40px auto;
	width: 90%;
	max-width: 1380px;
}

.contact-form {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.social {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-bottom: 30px;
}

.social a {
	color: #f7b538;
	font-size: clamp(18px, 2vw, 30px);
	font-weight: 300;
	font-family: 'Merienda', cursive;
}
.social {
}
.social > * {
	padding: 10px;
}
.social a,
.social a:visited,
.social a:link {
	color: #f7b538;
	text-decoration: none;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-form > input,
textarea {
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 20px;
	background: #fff;
	font-size: 16px;
	color: rgb(0, 0, 32);
	outline: none;
	border: 3px solid #fe4a57;
}

.contact-form > input:focus,
.contact-form > textarea:focus {
	border: 3px solid #f7b538;
}

.contact-form > textarea {
	height: 150px;
	max-width: 100%;
	min-height: 100px;
}

.contact-form > label {
	padding-bottom: 5px;
	color: #f7b538;
	font-weight: bold;
	font-family: 'Merienda', cursive;
	font-size: 18px;
}

.contact-form > input:last-of-type {
	font-family: 'The Historia Demo', sans-serif;
	color: #fe4a57;
	background: #1f2235;
	text-decoration: none;
	padding: 7px 14px;
	font-size: 26px;
	width: 150px;
	border-radius: 10px;
	margin: 0 auto;
}

.contact-form > input:last-of-type:hover {
	background-color: #f7b538;
	color: #1f2235;
	transition: all 0.3s ease-out;
	cursor: pointer;
	border: 3px solid #1f2235;
}
::-webkit-input-placeholder {
	color: #fe4a57;
	font-family: 'Merienda', cursive;
	font-size: 12px;
}

.home-top {
	height: 40px;
	color: #f7b538;
	text-decoration: none;
	font-family: 'Merienda', cursive;
	font-size: 18px;
	width: 250px;
	margin: 30px auto;
	border: 1px #f7b538 solid;
	border-radius: 8px;
}
.home-top:hover {
	background-color: #f7b538;
	color: #1f2235;
	transition: all 0.3s ease-out;
	cursor: pointer;
	border: 3px solid #1f2235;
}

a .home-top {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.form-and-social {
		flex-direction: column-reverse;
		margin-top: 20px;
	}

	.contact-form {
		margin: 0 auto;
		width: 80%;
	}
}
