.navbar {
	background: #1f2235;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
}

.nav-menu {
	display: flex;
	list-style: none;
	text-align: center;
	justify-content: start;
}
.navbar h2 {
	padding-left: 40px;
}
.nav-item {
	display: flex;
	align-items: center;
	height: 70px;
	line-height: 20px;
	padding-right: 15px;
}

.nav-dev {
	display: flex;
	align-items: center;
	height: 70px;
	line-height: 20px;
	color: #fe4a57;
	text-decoration: none;
	padding: 8px 14px;
	font-family: 'The Historia Demo', sans-serif;
}

.nav-links {
	color: #fe4a57;
	text-decoration: none;
	padding: 8px 14px;
	font-family: 'The Historia Demo', sans-serif;
	font-size: 26px;
}
.social-icons {
	color: #fe4a57;
	font-size: 32px;
}
.social-icons a {
	padding-right: 10px;
}
.social-icons a:visited {
	color: #fe4a57;
}
.nav-links:hover {
	background-color: #1888ff;
	border-radius: 4px;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.fa-bars {
	color: #fe4a57;
}
.fa-times:before {
	color: #fe4a57;
}

.menu-icon {
	display: none;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 59px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #1f2235;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: #1888ff;
		border-radius: 0;
	}

	.navbar-logo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(25%, 50%);
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}
	.social-icons {
		width: 90px;
		position: fixed;
		left: calc(50% - 45px);
		font-size: 28px;
	}
}

@media screen and (min-width: 1700px) {
}
