#skills {
	padding: 50px;
	position: relative;
	color: #fe4a57;
	font-family: 'The Historia Demo', sans-serif;
	text-align: center;
}

#skills div {
	line-height: 2;
}

.techstack {
	display: flex;
	flex-flow: row;
	width: 75%;
	max-width: 1080px;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 40px;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}

.tech-icons {
	margin: 15px auto;
	border-radius: 5px;
}

.techstack p {
	font-family: 'Merienda', cursive;
}

.tech-icons img {
	margin: 10px 20px;
	border-radius: 5px;
	max-height: 95px;
}

@media screen and (max-width: 1024px) {
	.techstack {
		width: 90%;
	}

	.tech-icons {
		margin: 10px 10px;
		border-radius: 5px;
	}
	.tech-icons img {
		margin: 8px 18px;
		max-height: 75px;
	}
}
@media screen and (max-width: 720px) {
	.techstack {
		width: 95%;
	}
	.tech-icons img {
		margin: 5px 12px;
		max-height: 55px;
	}
}
