code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@font-face {
	font-family: 'The Historia Demo';
	src: url('fonts/thehistoriademo-webfont.woff2') format('woff2'),
		url('fonts/thehistoriademo-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*
#F7B538 -mustardy
#1F2235 -indigoey
#FE4A57 -reddish
*/
* {
	/* border: 1px solid red; */
	/* outline: 1px solid red; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
	width: 100vw;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	text-align: center;
	min-height: calc (100vh - 120px);
	background: #242a50;
	border: 1px solid transparent;
}
